body {
  background-color: antiquewhite;
}

#header, #footer {
  font-family: 'Pixelify Sans', sans-serif;
  text-align: center;
  color: green;
}

#header {
  font-size: 64px;
  font-weight: bold;
  padding: 24px;
  margin-bottom: 40px;
}

#footer {
  font-size: 24px;
  padding: 24px;
}

a {
  color: black;
  text-decoration: none;
}

#options {
  display: flex;
  flex-direction: column;
  padding: 8px 24px 24px;
  border: 3px solid black;
  font-family: 'Pixelify Sans', sans-serif;
}

button {
  margin-bottom: 24px;
  font-size: 24px;
}

#optionsTitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.colorBox {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

#brushColor, #backgroundColor {
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

#brushColor::-webkit-color-swatch, #backgroundColor::-webkit-color-swatch {
  border-radius: 40px;
  border: 2px solid gray;
}

#rainbow, #gridLines {
  display: block;
  position: relative;
  visibility: hidden;
  width: 240px;
  height: 69px;
  margin: 0;
  margin-bottom: 24px;
  font-family: inherit;
  font-size: 24px;
  padding: 12px;
  cursor: pointer;
}

#rainbow::after, #gridLines::after {
  display: block;
  visibility: visible;
  background-color: white;
  text-align: center;
  border: 3px solid black;
  border-radius: 16px;
  padding: 12px;
}

#rainbow::after {
  content: "Toggle Rainbow";
}

#gridLines::after {
  content: "Toggle Grid Lines";
}

#rainbow:checked::after, #gridLines:checked::after {
  background-color: aqua;
}

#changeGridSizeBtn {
  margin-bottom: 4px;
  cursor: pointer;
}

#changeGridSizeLabel {
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
}

#clearBoardBtn {
  margin-bottom: 0px;
  font-family: inherit;
  font-size: 28px;
  cursor: pointer;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}


#mainBoard {
  display: flex;
  background-color: white;
  border: 3px solid black;
}

