body {
  background-color: antiquewhite;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}


#mainBoard {
  display: flex;
  background-color: white;
  border: 3px solid black;
}

